{% extends 'base.html' %} {% block title %}Go Scan | CerviScan{% endblock %} {%
block content %}
<div class="page-container">
  <div class="section-container patient-card">
    <h1>Patient Profile</h1>
    <form id="scan-form" class="form">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Patient's First Name"
          required
        />
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required />
      </div>
      <div class="form-group">
        <label for="image">Upload Image:</label>
        <input
          type="file"
          id="image"
          name="image"
          accept="image/*"
          onchange="previewImage(event)"
          required
        />
      </div>
      <div id="image-preview" style="margin-top: 10px"></div>
      <button type="submit" class="btn">Go Scan</button>
    </form>
  </div>

  <div class="section-container results-container hidden">
    <h1>Results</h1>
    <div id="results-tag-index-page">
      <div class="tag result">
        <p>Normal</p>
      </div>
      <div class="tag date">
        <p></p>
      </div>
    </div>
    <h1>Details</h1>
    <ul>
      <li>1. VIA Image</li>
      <div>
        <img alt="IVA Image" id="upload-image" />
      </div>
      <li>2. Gray Image</li>
      <div>
        <img alt="gray image" id="gray-image" />
      </div>
      <li>3. Mask Image</li>
      <div>
        <img alt="mask image" id="mask-image" />
      </div>
      <li>4. Segmented Image</li>
      <div>
        <img alt="segmented image" id="segmented-image" />
      </div>
    </ul>
  </div>
</div>
<script>
  function previewImage(event) {
    const previewDiv = document.getElementById("image-preview");
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        previewDiv.innerHTML = `<img src="${e.target.result}" alt="Image Preview" style="max-width: 100%; height: auto; margin-left: auto; margin-right: auto; align-self: center;"/>`;
      };
      reader.readAsDataURL(file);
    }
  }

  document
    .getElementById("scan-form")
    .addEventListener("submit", async (event) => {
      event.preventDefault(); // Prevent default form submission

      const form = event.target;
      const formData = new FormData(form);

      try {
        const response = await fetch("/api/record/create", {
          method: "POST",
          body: formData,
          headers: {
            Authorization: `Bearer ${localStorage.getItem("access_token")}`,
          },
        });

        if (!response.ok) {
          throw new Error("Network response was not ok");
        }

        const result = await response.json();

        // Update the results section
        const resultsTagDiv = document.getElementById("results-tag-index-page");
        resultsTagDiv.innerHTML = `
                    <div class="tag ${
                      result.data.prediction ? "abnormal" : "normal"
                    }">
                        <p>${result.data.prediction ? "Abnormal" : "Normal"}</p>
                    </div>
                `;

        function updateImageSrc(image, id) {
          const imgElement = document.getElementById(`${image}-image`);
          imgElement.src = `/static/process/${image}/${id}.jpg`;
        }

        updateImageSrc("upload", result.data.id);
        updateImageSrc("gray", result.data.id);
        updateImageSrc("mask", result.data.id);
        updateImageSrc("segmented", result.data.id);

        // Show the results container
        document.querySelector(".results-container").classList.remove("hidden");
      } catch (error) {
        console.error("There was a problem with the fetch operation:", error);
      }
    });
</script>
{%endblock%}
